@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Poiret+One');
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  background: #F5F7FC;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #121E3E;
  height: 100vh;
  background: #F5F7FC;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 50px;
  padding-left: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
body header {
  position: fixed;
  top: 0;
  right: 0;
  left: 250px;
  height: 50px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
  -webkit-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
  z-index: 40;
}
body header .hello {
  padding-left: 10px;
  font-size: 16px;
}
body header .right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
body header .right > a {
  margin-right: 10px;
  display: inline-block;
  color: #121E3E;
  text-decoration: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  height: 40px;
  line-height: 38px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #ECEEF3;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}
body header .right > a:hover {
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
body header .right > a:focus {
  border-color: #55A8FD;
}
body header .right > a.accent {
  color: #FFFFFF;
  border-color: #55A8FD;
  background-color: #55A8FD;
}
body header .right > a.accent:hover {
  border-color: #2e8ef1;
  background-color: #2e8ef1;
}
body header .right > a.accent:focus {
  border-color: #ECEEF3;
}
body aside {
  background-color: #12203E;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  -webkit-box-shadow: 3px 0px 30px -5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 3px 0px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 0px 30px -5px rgba(0, 0, 0, 0.2);
  z-index: 50;
}
body aside #logo {
  font-size: 45px;
  font-weight: 400;
  width: 250px;
  margin: 15px 0;
  line-height: 70px;
  text-align: center;
  font-family: 'Poiret One';
  color: #55A8FD;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.7);
  text-decoration: none;
  display: block;
}
body aside > a:not(#logo) {
  width: 100%;
  display: inline-block;
  color: rgba(85, 168, 253, 0.2);
  text-decoration: none;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  position: relative;
}
body aside > a:not(#logo).active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #55A8FD;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.2);
}
body aside > a:not(#logo):hover,
body aside > a:not(#logo).active {
  padding-left: 20px;
  color: #FFFFFF;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.7);
}
body aside footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 10px;
  color: rgba(111, 168, 227, 0.4);
}
body main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.flash-message {
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-bottom: 3px solid transparent;
  text-align: center;
  width: 100%;
}
.flash-message h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  color: initial;
}
.flash-message .desc {
  font-size: 14px;
  color: #121E3E;
}
.flash-message.is-error {
  border-color: #FF0045;
}
.flash-message.is-error h1 {
  color: #FF0045;
}
.flash-message.is-success {
  border-color: #00D793;
}
.flash-message.is-success h1 {
  color: #00D793;
}
#login {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#login > div {
  margin-bottom: 10px;
  max-width: 450px;
}
#login > div:last-of-type {
  margin-bottom: 0;
}
#login .centered {
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
  width: 300px;
  padding: 10px;
}
#login .centered h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
#login .centered label:not(.for-checkbox) {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #bbb;
  padding-bottom: 10px;
}
#login .centered input[type=text],
#login .centered input[type=password] {
  color: #121E3E;
  padding: 0 10px;
  font-size: 14px;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  border: 1px solid #ECEEF3;
  height: 40px;
  line-height: 38px;
  background-color: #FFFFFF;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  width: 100%;
}
#login .centered input[type=text]:focus,
#login .centered input[type=password]:focus {
  border-color: #55A8FD;
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
#login .centered .checkbox {
  margin-top: 8px;
  position: relative;
  height: 25px;
  line-height: 25px;
  padding-left: 25px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 30px;
}
#login .centered .checkbox [type=checkbox] {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
#login .centered .checkbox [type=checkbox] + label:before {
  content: '';
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #ECEEF3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  height: 25px;
  width: 25px;
}
#login .centered .checkbox [type=checkbox] + label:before:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
#login .centered .checkbox [type=checkbox] + label:after {
  content: '×';
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: #55A8FD;
  opacity: 0;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  font-size: 30px;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
}
#login .centered .checkbox [type=checkbox]:checked + label:after {
  opacity: 1;
}
#login .centered .for-checkbox {
  font-size: 12px;
  font-weight: 600;
  color: #bbb;
  line-height: 25px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#login .centered .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
#login .centered button {
  display: inline-block;
  color: #121E3E;
  text-decoration: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  height: 40px;
  line-height: 38px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #ECEEF3;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}
#login .centered button:hover {
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
#login .centered button:focus {
  border-color: #55A8FD;
}
#login .centered button.accent {
  color: #FFFFFF;
  border-color: #55A8FD;
  background-color: #55A8FD;
}
#login .centered button.accent:hover {
  border-color: #2e8ef1;
  background-color: #2e8ef1;
}
#login .centered button.accent:focus {
  border-color: #ECEEF3;
}
#register {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#register > div {
  margin-bottom: 10px;
  max-width: 450px;
}
#register > div:last-of-type {
  margin-bottom: 0;
}
#register .centered {
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.05);
  width: 300px;
  padding: 10px;
}
#register .centered h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
#register .centered label {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #bbb;
  padding-bottom: 10px;
}
#register .centered input[type=text],
#register .centered input[type=password],
#register .centered input[type=email] {
  color: #121E3E;
  padding: 0 10px;
  font-size: 14px;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  border: 1px solid #ECEEF3;
  height: 40px;
  line-height: 38px;
  background-color: #FFFFFF;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  width: 100%;
}
#register .centered input[type=text]:focus,
#register .centered input[type=password]:focus,
#register .centered input[type=email]:focus {
  border-color: #55A8FD;
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
#register .centered .captcha-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#register .centered .captcha-flex .captcha-img {
  width: 220px;
  margin-right: 10px;
  border: 1px solid #ECEEF3;
  height: 40px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-image: url('/captcha.png');
  background-position: center center;
  background-repeat: no-repeat;
}
#register .centered .captcha-flex input {
  width: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#register .centered .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
#register .centered .bottom button {
  display: inline-block;
  color: #121E3E;
  text-decoration: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  height: 40px;
  line-height: 38px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #ECEEF3;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#register .centered .bottom button:hover {
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
#register .centered .bottom button:focus {
  border-color: #55A8FD;
}
#register .centered .bottom button.accent {
  color: #FFFFFF;
  border-color: #55A8FD;
  background-color: #55A8FD;
}
#register .centered .bottom button.accent:hover {
  border-color: #2e8ef1;
  background-color: #2e8ef1;
}
#register .centered .bottom button.accent:focus {
  border-color: #ECEEF3;
}
#e404 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
#e404 h1 {
  text-align: center;
  font-size: 150px;
  padding: 0;
  margin: 0;
  font-weight: 100;
}
#e404 .desc {
  margin-top: -20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
#e404 .btns > a {
  display: inline-block;
  color: #121E3E;
  text-decoration: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  height: 40px;
  line-height: 38px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #ECEEF3;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}
#e404 .btns > a:hover {
  -webkit-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.1);
}
#e404 .btns > a:focus {
  border-color: #55A8FD;
}
#e404 .btns > a.accent {
  color: #FFFFFF;
  border-color: #55A8FD;
  background-color: #55A8FD;
}
#e404 .btns > a.accent:hover {
  border-color: #2e8ef1;
  background-color: #2e8ef1;
}
#e404 .btns > a.accent:focus {
  border-color: #ECEEF3;
}
#e404 .bg {
  position: absolute;
  bottom: -300px;
  right: -50px;
  font-size: 800px;
  z-index: -1;
  opacity: .05;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
