#e404 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  h1 {
  	text-align: center;
  	font-size: 150px;
  	padding: 0;
  	margin: 0;
  	font-weight: 100;
  }
  .desc {
  	margin-top: -20px;
  	margin-bottom: 15px;
  	text-align: center;
  	font-size: 25px;
  }
  .btns {
  	> a {
  		.button();
  	}
  }
  .bg {
  	position: absolute;
  	bottom: -300px;
  	right: -50px;
  	font-size: 800px;
  	z-index: -1;
  	opacity: .05;
  	font-weight: 100;
  	user-select: none;
  }
}