
.flash-message {
	background-color: @background-content;
	border-radius: 3px;
	box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.05);
	padding: 10px;
	border-bottom: 3px solid transparent;
	text-align: center;
	width: 100%; 
	h1 {
		margin: 0;
		padding: 0;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 18px;
		color: initial;
	}
	.desc {
		font-size: 14px;
		color: @text-special;
	}
	&.is-error {
		border-color: @error;
		h1 {
			color: @error;
		}
	}
	&.is-success {
		border-color: @success;
		h1 {
			color: @success;
		}
	}
}