#login {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  > div {
  	margin-bottom: 10px;
  	max-width: 450px;
  	&:last-of-type {
  		margin-bottom: 0;
  	}
  }
  .centered {
  	background-color: @background-content;
  	border-radius: 3px;
		box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.05);
		width: 300px;
		padding: 10px;
		h1 {
			margin: 0;
			padding: 0;
			width: 100%;
			font-weight: 600;
			font-size: 20px;
			padding-bottom: 10px;
		}
		label:not(.for-checkbox) {
			display: block;
			width: 100%;
			font-size: 12px;
			font-weight: 600;
			color: @label;
			padding-bottom: 10px;
		}
		input[type=text], input[type=password] {
			.input();
			width: 100%;
		}
		.checkbox {
			margin-top: 8px;
			.checkbox();
			flex: 1;
			padding-left: 30px;
		}
		.for-checkbox {
			font-size: 12px;
			font-weight: 600;
			color: @label;
			line-height: 25px;
			flex: 1;
		}
		.bottom {
			display: flex;
			width: 100%;
		}
		button {
			.button();
		}
  }
}