@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Poiret+One');

// -- Colors
@background:         #F5F7FC;
@background-special: #12203E;
@background-content: #FFFFFF;
@color-accent:       #55A8FD;
@color-accent-faded: desaturate(darken(#55A8FD, 10%), 10%);
@text-special:       #121E3E;
@text:               #FFFFFF;
@light-borders:      #ECEEF3;
@label:              #bbb;

@error:              #FF0045;
@success:            #00D793;

@font: 'Open Sans', sans-serif;
// -- Mixins
.button() {
	display: inline-block;
	color: @text-special;
	text-decoration: none;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 600;
	transition-duration: .3s;
	height: 40px;
	line-height: 38px;
	border-radius: 3px;
	border: 1px solid @light-borders;
	background-color: @background-content;
	font-family: @font;
	outline: none;
	&:hover {
		box-shadow: 0 3px 30px -5px rgba(0,0,0,0.1);
	}
	&:focus {
		border-color: @color-accent;
	}
	&.accent {
		color: @text;
		border-color: @color-accent;
		background-color: @color-accent;
		&:hover {
			border-color: @color-accent-faded;
			background-color: @color-accent-faded;
		}
		&:focus {
			border-color: @light-borders;
		}
	}
}
.input() {
	color: @text-special;
	padding: 0 10px;
	font-size: 14px;
	transition-duration: .3s;
	border: 1px solid @light-borders;
	height: 40px;
	line-height: 38px;
	background-color: @background-content;
	outline: none;
	font-family: @font;
	border-radius: 3px;
	&:focus {
		border-color: @color-accent;
		box-shadow: 0 3px 30px -5px rgba(0,0,0,0.1);
	}
}
.checkbox() {
	position: relative;
	height: 25px;
	line-height: 25px;
	padding-left: 25px;
	[type=checkbox] {
		position:absolute;
		left:-9999px;
		top:-9999px;
	}
	[type=checkbox] + label {
		&:before {
			content: '';
			visibility:visible;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			border: 2px solid @light-borders;
			border-radius: 3px;
			height: 25px;
			width: 25px;
			&:hover {
				cursor: pointer;
				box-shadow: 0 3px 30px -5px rgba(0,0,0,0.1);
			}
		}
		&:after {
			content: '×';
			visibility:visible;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 25px;
			height: 25px;
			color: @text;
			border-radius: 3px;
			background-color: @color-accent;
			opacity: 0;
			transition-duration: .3s;
			font-size: 30px;
			font-weight: 100;
    	line-height: 25px;
    	text-align: center;
		}
	}
	[type=checkbox]:checked + label {
		&:after {
			opacity: 1;
		}
	}
}

// --
*, *:after, *:before {
	box-sizing: border-box;
}
html {
	background: @background;
}
body {
	padding: 0;
	margin: 0;
	font-family: @font;
	color: @text-special;
	height: 100vh;
	background: @background;
	flex-direction: column;
	position: relative;
	padding-top: 50px;
	padding-left: 250px;
	display: flex;
	header {
		position: fixed;
		top: 0;
		right: 0;
		left: 250px;
		height: 50px;
		background-color: @background-content;
		display: flex;
		line-height: 50px;
		box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.05);
		z-index: 40;
		.hello {
			padding-left: 10px;
			font-size: 16px;
		}
		.right {
			flex: 1;
			text-align: right;
			> a {
				margin-right: 10px;
				.button();
			}
		}
	}
	aside {
		background-color: @background-special;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 250px;
		box-shadow: 3px 0px 30px -5px rgba(0,0,0,0.2);
		z-index: 50;
		#logo {
			font-size: 45px;
			font-weight: 400;
			width: 250px;
			margin: 15px 0;
			line-height: 70px;
			text-align: center;
			font-family: 'Poiret One';
			color: @color-accent;
			user-select: none;
			text-shadow: 0px 2px 0 rgba(0,0,0,0.7);
			text-decoration: none;
			display: block;
		}
		> a:not(#logo) {
			width: 100%;
			display: inline-block;
			color: fadeout(multiply(@text, @color-accent), 80%);
			text-decoration: none;
			padding: 0 15px;
			height: 40px;
			line-height: 40px;
			font-size: 18px;
			transition-duration: .3s;
			position: relative;
			&.active:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 5px;
				background-color: @color-accent;
				transition-duration: .3s;
				box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.2);
			}
			&:hover, &.active {
				padding-left: 20px;
				color: @text;
				text-shadow: 0px 2px 0 rgba(0,0,0,0.7);
			}
		}
		footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 12px;
			user-select: none;
			text-align: center;
			padding-bottom: 10px;
			color: fadeout(desaturate(@color-accent, 30%), 60%);
		}
	}
	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		section {
			flex: 1;
			display: flex;
		}
	}
}

@import 'flashMessages';

@import 'login';
@import 'register';
@import '404';
